<div id="updateForm">

    <h1 id="updateContactTitle">Update Contact</h1>

    <form [formGroup]="deleteForm" class="myform" (ngSubmit)="onSubmit()">

        <div class="my-Inputs">
            <mat-form-field class="example-full-width">
                <mat-label class="formInput">First Name</mat-label>
                <input class="formInput" matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Last Name</mat-label>
                <input class="formInput" matInput formControlName="lastName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Phone Number</mat-label>
                <input class="formInput" matInput placeholder="For example +49 1234 123 12 12" formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Address</mat-label>
                <input class="formInput" matInput formControlName="address">
            </mat-form-field>
        </div>

        <button class="action-buttons" type="button" mat-dialog-close mat-raised-button color="warn">Cancel</button>
        <button class="action-buttons" mat-raised-button color="accent" type="submit">Delete</button>

    </form>
</div>